## EDA de la población mundial por país

<h3>Importamos librerias para trabajar con datos</h3>

In [16]:
import pandas as pd
import numpy as np

# Importamos librerias para visualización de datos
import matplotlib.pyplot as plt
import seaborn as sns

# Configuramos las gráficas
plt.style.use('seaborn-v0_8')

<h3> Cargar el dataset </h3>

In [35]:
df = pd.read_csv('data/world_population.csv')

# Mostrar cuantas filas y columnas tiene el DataFrame
print(f"El DataFrame tiene {df.shape[0]} filas y {df.shape[1]} columnas.")

El DataFrame tiene 266 filas y 64 columnas.

<h3> Información del dataframe </h3>

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 64 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country Name  266 non-null    object
 1   1960          266 non-null    float64
 2   1961          266 non-null    float64
 3   1962          266 non-null    float64
 4   1963          266 non-null    float64
 5   1964          266 non-null    float64
 6   1965          266 non-null    float64
 7   1966          266 non-null    float64
 8   1967          266 non-null    float64
 9   1968          266 non-null    float64
 10  1969          266 non-null    float64
 11  1970          266 non-null    float64
 12  1971          266 non-null    float64
 13  1972          266 non-null    float64
 14  1973          266 non-null    float64
 15  1974          266 non-null    float64
 16  1975          266 non-null    float64
 17  1976          266 non-null    float64
 18  1977          266 non-null    float64
 19  1978          266 non-null    float64
 20  1979          266 non-null    float64
 21  1980          266 non-null    float64
 22  1981          266 non-null    float64
 23  1982          266 non-null    float64
 24  1983          266 non-null    float64
 25  1984          266 non-null    float64
 26  1985          266 non-null    float64
 27  1986          266 non-null    float64
 28  1987          266 non-null    float64
 29  1988          266 non-null    float64
 30  1989          266 non-null    float64
 31  1990          266 non-null    float64
 32  1991          266 non-null    float64
 33  1992          266 non-null    float64
 34  1993          266 non-null    float64
 35  1994          266 non-null    float64
 36  1995          266 non-null    float64
 37  1996          266 non-null    float64
 38  1997          266 non-null    float64
 39  1998          266 non-null    float64
 40  1999          266 non-null    float64
 41  2000          266 non-null    float64
 42  2001          266 non-null    float64
 43  2002          266 non-null    float64
 44  2003          266 non-null    float64
 45  2004          266 non-null    float64
 46  2005          266 non-null    float64
 47  2006          266 non-null    float64
 48  2007          266 non-null    float64
 49  2008          266 non-null    float64
 50  2009          266 non-null    float64
 51  2010          266 non-null    float64
 52  2011          266 non-null    float64
 53  2012          266 non-null    float64
 54  2013          266 non-null    float64
 55  2014          266 non-null    float64
 56  2015          266 non-null    float64
 57  2016          266 non-null    float64
 58  2017          266 non-null    float64
 59  2018          266 non-null    float64
 60  2019          266 non-null    float64
 61  2020          266 non-null    float64
 62  2021          266 non-null    float64
 63  2022          266 non-null    float64
dtypes: float64(63), object(1)
memory usage: 133.1+ KB

<h3> Mostrar las primeras filas del DataFrame para entender su estructura </h3>

In [37]:
df.head()

,Country Name,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,54608.0,55811.0,56682.0,57475.0,58178.0,58782.0,59291.0,59522.0,59471.0,...,102880.0,103594.0,104257.0,104874.0,105439.0,105962.0,106442.0,106585.0,106537.0,106445.0
1,Africa Eastern and Southern,130692579.0,134169237.0,137835590.0,141630546.0,145605995.0,149742351.0,153955516.0,158313235.0,162875171.0,...,567892149.0,583651101.0,600008424.0,616377605.0,632746570.0,649757148.0,667242986.0,685112979.0,702977106.0,720859132.0
2,Afghanistan,8622466.0,8790140.0,8969047.0,9157465.0,9355514.0,9565147.0,9783147.0,10010030.0,10247780.0,...,31541209.0,32716210.0,33753499.0,34636207.0,35643418.0,36686784.0,37769499.0,38972230.0,40099462.0,41128771.0
3,Africa Western and Central,97256290.0,99314028.0,101445032.0,103667517.0,105959979.0,108336203.0,110798486.0,113319950.0,115921723.0,...,387204553.0,397855507.0,408690375.0,419778384.0,431138704.0,442646825.0,454306063.0,466189102.0,478185907.0,490330870.0
4,Angola,5357195.0,5441333.0,5521400.0,5599827.0,5673199.0,5736582.0,5787044.0,5827503.0,5868203.0,...,26147002.0,27128337.0,28127721.0,29154746.0,30208628.0,31273533.0,32353588.0,33428486.0,34503774.0,35588987.0

<h3> Calcular estadísticas descriptivas del DataFrame </h3>

In [48]:
df.describe()

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
count,2.660000e+02,2.660000e+02,2.660000e+02,2.660000e+02,2.660000e+02,2.660000e+02,2.660000e+02,2.660000e+02,2.660000e+02,2.660000e+02,...,2.660000e+02,2.660000e+02,2.660000e+02,2.660000e+02,2.660000e+02,2.660000e+02,2.660000e+02,2.660000e+02,2.660000e+02,2.660000e+02
mean,1.172860e+08,1.188956e+08,1.210661e+08,1.237484e+08,1.264530e+08,1.291965e+08,1.320558e+08,1.349134e+08,1.378513e+08,1.408944e+08,...,2.927726e+08,2.966485e+08,3.004946e+08,3.043392e+08,3.081897e+08,3.119766e+08,3.156825e+08,3.192718e+08,3.225338e+08,3.254849e+08
std,3.681528e+08,3.726814e+08,3.793723e+08,3.880372e+08,3.967440e+08,4.055817e+08,4.148814e+08,4.241381e+08,4.336812e+08,4.436143e+08,...,9.168878e+08,9.282543e+08,9.394733e+08,9.506238e+08,9.617828e+08,9.726464e+08,9.831785e+08,9.932413e+08,1.002327e+09,1.010250e+09
min,2.646000e+03,2.888000e+03,3.171000e+03,3.481000e+03,3.811000e+03,4.161000e+03,4.531000e+03,4.930000e+03,5.354000e+03,5.646000e+03,...,1.069400e+04,1.089900e+04,1.087700e+04,1.085200e+04,1.082800e+04,1.086500e+04,1.095600e+04,1.106900e+04,1.120400e+04,1.131200e+04
25%,5.191432e+05,5.299130e+05,5.416058e+05,5.539315e+05,5.669115e+05,5.726408e+05,5.714950e+05,5.893528e+05,5.957192e+05,6.001152e+05,...,1.727844e+06,1.760674e+06,1.788377e+06,1.791806e+06,1.813209e+06,1.829052e+06,1.820114e+06,1.817712e+06,1.810651e+06,1.791334e+06
50%,3.850405e+06,3.950443e+06,4.049641e+06,4.167192e+06,4.281604e+06,4.325953e+06,4.382308e+06,4.441042e+06,4.498960e+06,4.569818e+06,...,1.015331e+07,1.034159e+07,1.038195e+07,1.042652e+07,1.044737e+07,1.042760e+07,1.055977e+07,1.065204e+07,1.053749e+07,1.057953e+07
75%,2.739186e+07,2.812822e+07,2.889649e+07,2.968239e+07,3.046628e+07,3.126597e+07,3.183307e+07,3.261431e+07,3.318176e+07,3.385723e+07,...,6.315469e+07,6.364901e+07,6.401981e+07,6.436557e+07,6.467832e+07,6.495070e+07,6.509539e+07,6.573706e+07,6.616680e+07,6.660298e+07
max,3.031474e+09,3.072422e+09,3.126850e+09,3.193429e+09,3.260442e+09,3.328209e+09,3.398480e+09,3.468371e+09,3.540164e+09,3.614573e+09,...,7.229303e+09,7.317040e+09,7.403850e+09,7.490415e+09,7.576442e+09,7.660371e+09,7.741775e+09,7.820206e+09,7.888306e+09,7.950947e+09

<p> Nota: Los datos pueden parecer exagerados, pero hay que tener en cuenta que también hay agrupaciones regionales, continentales e incluso la mundial en la lista </p>

<div>
     <h3> 
Transformación de Datos de Formato Ancho a FormatoLargo 
     </h3>
     <p classs="font-size: 10px">
     Este paso es crucial en nuestro análisis 
     exploratorioporque reorganizará los datos para facilitar 
     la visualización de tendencias temporales y permitirnos 
     realizar análisis más efectivos sobre la evolución de la 
     población mundial. 
     </p>
 </div>

In [56]:
df_long = pd.melt(
  df,
  id_vars=['Country Name'], 
  var_name='Year',
  value_name='Population'
)

# Convertir el año a tipo numérico, actualmente es string al ser el nombre de las columnas
df_long['Year'] = pd.to_numeric(df_long['Year'])

# Mostrar las primera filas para verificar la transformación
df_long.head((20))

# Información básica del nuevo dataframe
print("\nInformación del dataframe en formato largo:")
print(f"Dimensiones: {df_long.shape}")
print(df_long.info())

Información del dataframe en formato largo:
Dimensiones: (16758, 3)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16758 entries, 0 to 16757
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country Name  16758 non-null  object
 1   Year          16758 non-null  int64
 2   Population    16758 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 392.9+ KB
None